<section class="distribution_com main-bg-color p-t-20 p-b-20">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="text-uppercase">India's <span class="txt-grn-col"><strong>First</strong></span> Loan Distribution Company </h2>
        <p>MyMoneyMantra is India's leading financial services marketplace. We have over 29+ years of experience, partnership with 100+ reputed financial institutions, a wide product range and a promise to get you the best deal. Our services come at no cost to you.</p>
      </div>
      <div class="col-sm-12 p-l-o p-r-o outer-part-wrap">
        <div class="col-sm-2 col-xs-6 text-center">
            <div class="icon-dis-box">
            <span class="icon-dis happyCustomer"> </span> 
            <span class="title-dis">4  Million</span>
            <div class="short-dis-h">Happy Customers</div> 
          </div>
        </div>
        <div class="col-sm-2 col-xs-6 text-center">
          <div class="icon-dis-box">
            <span class="icon-dis relationshipManager"> </span> 
            <span class="title-dis">2500+</span>
            <div class="short-dis-h">Relationship Managers</div> 
          </div>
        </div>
        <div class="col-sm-2 col-xs-6 text-center">
          <div class="icon-dis-box">
            <span class="icon-dis businessDone"> </span> 
            <span class="title-dis">₹  45,000 Cr+</span>
            <div class="short-dis-h">Business Done</div> 
          </div>
        </div>
        <div class="col-sm-2 col-xs-6 text-center">
          <div class="icon-dis-box">
            <span class="icon-dis banksNbfc"> </span> 
            <span class="title-dis">100+</span>
            <div class="short-dis-h">Banks &amp; NBFCs</div> 
          </div>
        </div>
        <div class="col-sm-2 col-xs-6 text-center">
          <div class="icon-dis-box">
            <span class="icon-dis bankAwards"> </span> 
            <span class="title-dis">100+</span>
            <div class="short-dis-h">Bank Awards</div> 
        </div>
        </div>
        <div class="col-sm-2 col-xs-6 text-center">
          <div class="icon-dis-box">
            <span class="icon-dis citiesSeviced"></span> 
            <span class="title-dis">500+</span>
            <div class="short-dis-h">Cities Serviced</div> 
          </div>
        </div>
    </div>
    </div>
  </div>
</section>
