<router-outlet></router-outlet>
<header>
  <section class="top_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 p-l-o">
          <span class="head-phone">
              <span class="lg-show">
                <i class="fa fa-phone" aria-hidden="true"></i> 
                <span>1800 103 4004</span>
              </span>
          </span>
          <span class="head-mail"> 
            <a href="mailto:contactus@mymoneymantra.com"><i class="fa fa-envelope"></i><span class="lg-show">contactus@mymoneymantra.com</span></a>
          </span>
        </div>
        <div class="col-sm-6">
            <ul class="list-group list-group-horizontal pull-right cus-had-social">
                <li class="list-group-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="list-group-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-group-item"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li class="list-group-item"><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-xs-9">
            <a routerLink="/" class="logo-new"><img src="assets/images/logo.png" class="img-responsive"></a>
        </div>
        <div class="col-sm-9 col-xs-3 p-r-o">
            <nav class="navbar custom-main-nav">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="navbar-collapse custom-nav" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <span>Loans <span class="tog-bar"><i class="fa fa-bars" aria-hidden="true"></i></span></span>
                    <ul class="cus-dropdown-menu">
                      <li><a routerLink="/home-loan">Home Loan</a></li>
                      <li><a routerLink="/loan-against-property">Loan Against Property</a></li>
                      <li><a routerLink="/home-loan-balance-transfer">Home Loan Balance Transfer</a></li>
                      <li><a routerLink="/personal-loan">Personal Loan</a></li>
                      <li><a routerLink="/business-loan">Business Loan</a></li>
                      <li><a routerLink="/gold-loan">Gold Loan</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/credit-card">credit cards</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" routerLink="/health-insurance"> Health Insurance </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/life-insurance">Life Insurance</a>
                  </li>
                  <li class="nav-item">
                    <span>financial tools <span class="tog-bar"><i class="fa fa-bars" aria-hidden="true"></i></span></span>
                    <ul class="cus-dropdown-menu">
                      <li><a routerLink="#">EMI Calculator</a></li>
                      <li><a routerLink="#">Balance Transfer Calculator</a></li>
                      <li><a routerLink="#">Prepayment Amount Calculator</a></li>
                      <li><a routerLink="#">How Soon Can I Pay off Loan</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/loans">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
      </div>
    </div>
  </section>
</header>