<router-outlet></router-outlet>
<footer>
  <section class="top-footer-menu main-bg-three-color">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 p-r-o p-l-o">
            <span class="other-icon">Others</span>
            <ul class="other-menu">
              <li><a routerLink="/all-testimonials">Testimonial</a></li>
              <li><a routerLink="/sitemap">Site Map </a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/press-room">Press Room</a></li>
              <li><a routerLink="/about-us">About MyMoneyMantra</a></li>
              <li><a routerLink="/careers">Careers</a></li>
              <li><a routerLink="/meet-the-team">Meet the Team</a></li>
              <li><a routerLink="/advisory-group">Advisory Group</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
              <li><a routerLink="/our-partners">Our Partners</a></li>
              <li><a routerLink="/ifsc-code">IFSC Code</a></li>
            </ul>
          </div>
        </div>
      </div>
  </section>
  <section class="top-footer main-bg-color">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="col-foot-list">
              <h4><a routerLink="/home-loan">Home Loan</a></h4>
              <ul class="list-unstyled">
                <li><a routerLink="/home-loan/hdfc-ltd">HDFC Ltd. Home loan</a></li>
                <li><a routerLink="/home-loan/dhfl">DHFL Home Loan</a></li>
                <li><a routerLink="/home-loan/icici-bank">ICICI Bank Home Loan</a></li>
                <li><a routerLink="/home-loan/pnb-housing">PNB Housing  Home Loan</a></li>
                <li><a routerLink="/home-loan/axis-bank">AXIS Bank Home Loan</a></li>
                <li><a routerLink="/home-loan/sbi-bank">SBI Bank Home Loan</a></li>
                <li><a routerLink="/home-loan/citibank">Citibank Home Loan</a></li>
                <li><a routerLink="/home-loan/tata-capital">Tata Capital Home Loan</a></li>
                <li><a routerLink="/home-loan/standard-chartered-bank">Standard Chartered Bank Home Loan</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="col-foot-list">
                <h4><a routerLink="/personal-loan">Personal Loan</a></h4>
                <ul class="list-unstyled">
                  <li><a routerLink="/personal-loan/icici-bank">ICICI Bank Personal Loan</a></li>
                  <li><a routerLink="/personal-loan/tata-capital">Tata Capital Personal Loan</a></li>
                  <li><a routerLink="/personal-loan/bajaj-finserv">Bajaj Finserv Personal Loan</a></li>
                  <li><a routerLink="/personal-loan/yes-bank">YES Bank Personal Loan</a></li>
                  <li><a routerLink="/personal-loan/hdfc-bank">HDFC Bank Personal Loan</a></li>
                  <li><a routerLink="/personal-loan/sbi-bank">SBI Personal Loan</a></li>
                  <li><a routerLink="/personal-loan/kotak-mahindra-bank">Kotak Mahindra Bank Personal Loan</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-foot-list">
                <h4><a routerLink="/business-loan">Business Loan</a></h4>
                <ul class="list-unstyled">
                  <li><a routerLink="/business-loan/fullerton-india">Fullerton India Bussiness Loan</a></li>
                  <li><a routerLink="/business-loan/hdfc-bank">HDFC Bank Business Loan</a></li>
                  <li><a routerLink="/business-loan/sbi-bank">SBI Business Loan</a></li>
                  <li><a routerLink="/business-loan/idfc-first">IDFC First Business Loan</a></li>
                  <li><a routerLink="/business-loan/axis-bank"> Axis Bank Business Loan</a></li>
                  <li><a routerLink="/business-loan/bajaj-finserv">Bajaj Finserv Business Loan</a></li>
                  <li><a routerLink="/business-loan/kotak-mahindra-bank">Kotak Mahindra Bank Business Loan</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="col-foot-list">
                  <h4><a routerLink="/loan-against-property">Loan Against Property</a></h4>
                  <ul class="list-unstyled">
                    <li><a routerLink="/loan-against-property/dhfl">DHFL Loan Against Property</a></li>
                    <li><a routerLink="/loan-against-property/hdfc-bank">HDFC Bank Loan Against Property</a></li>
                    <li><a routerLink="/loan-against-property/icici-bank">ICICI Bank Loan Against Property</a></li>
                    <li><a routerLink="/loan-against-property/pnb-housing">PNB Housing Loan Against Property</a></li>
                    <li><a routerLink="/loan-against-property/citibank">Citibank Loan Against Property</a></li>
                    <li><a routerLink="/loan-against-property/axis-bank">Axis Bank Loan Against Property</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-sm-3">
              <div class="col-foot-list">
                <h4><a routerLink="/home-loan-balance-transfer">Home Loan Balance Transfer</a></h4>
                <ul class="list-unstyled">
                  <li><a routerLink="">Kotak Mahindra Bank Home Loan Balance Transfer</a></li>
                </ul>
              </div>
          </div>
            <div class="col-sm-3">
              <div class="col-foot-list">
                <h4><a routerLink="#">Insurance</a></h4>
                <ul class="list-unstyled">
                  <li><a routerLink="/life-insurance">Life Insurance</a></li>
                  <li><a routerLink="/health-insurance">Health Insurance</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-foot-list">
                <h4><a routerLink="/credit-card">Credit Card</a></h4>
                <ul class="list-unstyled">
                  <li><a routerLink="/credit-card/sbi-bank">SBI Credit Card</a></li>
                </ul>
              </div>
            </div>
        </div>
      </div>
  </section>
  <section class="midd-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 text-center">
              <div class="phone-foot">
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <a href="tel:1800 103 4004">1800 103 4004</a>
              </div>
          </div>
          <div class="col-sm-4 text-center">
              <div class="contact-f">
                    <a href="mailto:contactus@mymoneymantra.com"><i class="fa fa-envelope"></i><span class="lg-show">contactus@mymoneymantra.com</span></a>
              </div>
          </div>
          <div class="col-sm-4 text-center">
              <ul class="foot-social list-inline">
                  <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
  </section>
  <section class="bottom-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="copyright-t">Copyright 2018. <a href="/">MyMoneyMantra.</a> All Right Reserved</div>
          </div>
          <div class="col-sm-6 text-right">
              <a routerLink="/privacy-policy" class="privacylink">Privacy Policy</a>
          </div>
        </div>
      </div>
  </section>
</footer>