 <section class="about-comp main-bg-for-color">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 p-t-20 p-b-20">
        <div class="why-mmm-box p-l-20 p-r-20">
        <h2>Why My<span class="txt-grn-col">Money</span>Mantra?</h2>
        <p>Since its incorporation in 1989, MyMoneyMantra has created a mark of excellence in providing the best loan deals to customers across various financial products.These include Home Loans, Personal Loans, Loans Against Property, Business Loans and Credit Cards. The organization has an edge in the market with a pool of <strong>4&nbsp;million+</strong> <strong>happy customers,</strong>&nbsp;<strong>100+ associated banks and 2500+ relationship managers.</strong> We are associated with leading banks and financial institutions in the country including ICICI Bank, HDFC Bank, Axis Bank, Citibank, PNB HFC, Tata Capital, Standard Chartered, SBI and Deutsche Bank. As a company, we continually strive to increase our partner base in order to offer maximum choice and quality products to our customers.</p>
        <p><strong>MyMoneyMantra helps you get best loan in 3 simple steps:</strong></p>
        <ul>
        <li><strong>The 3 Cs: Compare, converse and choose:</strong></li>
        </ul>
        <p>You can easily compare interest rates of various banks on our website. Further, you can speak to our Loan Specialists who will guide you through the entire process and help you choose a loan best suited to your requirements.</p>
        <ul>
        <li><strong>We collect and submit your documents:</strong></li>
        </ul>
        <p>To give you a hassle free and satisfactory loan deal, we take care of your documentation process. Our specialists after guiding you on all the related loan terms will have your document kit collected, and submit them to the respective bank or NBFC.</p>
        <ul>
        <li><strong>We facilitate approval and disbursement:</strong></li>
        </ul>
        <p>After submitting loan application,we help with the loan approval and disbursement process. Our relationship managers will be with you every step of the way, we seek to be a long term partner helping you navigate your financial goals.</p>
        <p><strong>MyMoneyMantra</strong> seeks perfection in providing you the best product and this perfection is obtained by customer satisfaction. Our aim is to build a healthy and long term relationship with you.</p>
        <p><a href="/contact-us.html"><strong>Contact</strong></a> MyMoneyMantra and get your best loan offer with us today!</p></div>
      </div>
      <div class="col-sm-6 p-t-20 p-b-20 p-l-o p-r-o main-bg-color">
          <app-home-blog-slider></app-home-blog-slider>
      </div>
    </div>
  </div>
</section>